include ../mixins/logo.pug
include ../mixins/flash.pug
doctype html
html(lang="en")
  head
    <!-- Required meta tags -->
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block metas

    <!-- Bootstrap CSS -->
    if locals.title 
      title= title
    else
      title New Application
    
    // STYLES
    // STYLES END

    // SCRIPTS
    // SCRIPTS END

    // VIEW STYLES
    // VIEW STYLES END

    // VIEW SCRIPTS
    // VIEW SCRIPTS END
  body
    block navmenu
      nav.navbar.navbar-expand-lg.navbar-dark.py-0.fixed-top.bg-dark.md-transition#top-nav
        a.navbar-brand(href="/" aria-label="App")
          +logo(1)
    .main-page
      .container-fluid.pt-5
        .row.pt-5
          .col-1.col-md-3.col-sm-2.col-lg-4
          .col-10.col-md-6.col-sm-8.col-lg-4
            .display-4.text-center Password Reset.
            .text-center Please enter the a new password:
        form#password-form.m-2.was-validated(method="POST" action="/auth/set-password" novalidate)
          input(type="text" style="display: none;" name="fakeemail")
          input(type="password" style="display: none;" name="fakepassword")
          input(type="text" style="display: none;" name="email", value=email)
          .form-row
            .col-md-2.col-lg-3
            .col-12.col-md-5.col-lg-3
              .form-group 
                .label(for="password") Password:
                input.form-control#password(type="password" name="password" aria-describedby="password-help" placeholder="Enter Password" value="" autocomplete="new-password")
                small#password-help.form-text.text-muted Please choose a password of at least 8 characters, containing at least one capital letter, lowercase letter, and a number
            .col-12.col-md-5.col-lg-3
              .form-group 
                .label(for="password2") Confirm Password:
                input.form-control#password2(type="password" name="password2" placeholder="Re-Enter Password" value="" )
          .form-row
            .col-md-2.col-lg-3
            .col-12.col-md-10.col-lg-6
              .form-group 
                button#save-password.btn.btn-primary.w-100(type="submit") Save Changes
        .row
          .col-1.col-md-3.col-sm-2.col-lg-4
          .col-10.col-md-6.col-sm-8.col-lg-4
            +flash()
