extends layout_err
block metas
block title
  title Not Found(404)
block body
  #dialog
    div
      h1 404: Not Found
      p We're sorry, but there's nothing here. If you reached this page from a link on our site, please notify us and we'll look into it.


