extends layout_err
block metas
block title
  title Server Error(500)
block body
  #dialog
    div
      h1 500: Server Error
      p We're sorry, but something went wrong. Please notify us about this issue and we'll take a look at it shortly.


