{
  "db": {
    "username": "USERNAME",
    "password": "PASSWORD"
  },
  "dek": "+HF+qZV+SmRn9bsea2XlAwRaNDFMuWpRpz9BXeLNHUc=",
  "session": "792477a2de345b4cc353cf1105511320",
  "shipit": {
    "repo": "https://user:pass@repo.com/path_to.git",
    "production": {
      "servers": "deploy@somewhere.com",
      "branch": "master",
      "deployTo": "/apps/live/production",
      "pm2": {
        "script": "current/ecosystem_production.config.js"
      }
    },
    "staging": {
      "servers": "deploy@somewhere.com",
      "branch": "master",
      "deployTo": "/apps/live/staging",
      "pm2": {
        "script": "current/ecosystem_staging.config.js"
      }
    }
  },
  "email": {
    "host": "mailhost.com",
    "port": 587,
    "secure": false,
    "auth": {
      "user": "username",
      "pass": "password"
    }
  },
  "emailFrom": "someone@example.com"
  "emailLinks": [
    {"url": "about", "name": "About"}
  ]
}